<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://lib.baomitu.com/jquery/3.5.0/jquery.min.js"></script>
    <link href="https://lib.baomitu.com/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://lib.baomitu.com/notify/0.4.2/notify.min.js"></script>
    <script src="https://lib.baomitu.com/vue/2.5.16/vue.min.js"></script>
    <script src="https://lib.baomitu.com/jsoneditor/9.0.3/jsoneditor.min.js"></script>
    <link href="https://lib.baomitu.com/jsoneditor/9.0.3/jsoneditor.min.css" rel="stylesheet">
    <script src="https://lib.baomitu.com/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>
    <link href="https://lib.baomitu.com/jquery-confirm/3.3.4/jquery-confirm.min.css" rel="stylesheet">
    <script>
        $(function(){
            $.notify.defaults({"globalPosition":"top center"});
            var container = document.getElementById("configDiv");
            var options = {};
            var editor = new JSONEditor(container, options);
            // set json
            var json = <%- JSON.stringify(config) %>;
            editor.set(json);
            $("#configSave").click(function(){
                try{
                    var json = editor.get(json);
                    for(env in json.envList){
                        for(e in json.envList[env]){
                            var ev = $.trim(json.envList[env][e]);
                            if($.trim(e) != e){
                                delete(json.envList[env][e]);
                            }
                            json.envList[env][$.trim(e)] = ev;
                        }
                    }
                    var jsonString = JSON.stringify(json);
                    JSON.parse(jsonString);//for test
                }catch(e){
                    $.notify("json error"+e.message,"error");
                    return;
                }
                $.confirm({ 
                    title: '修改配置文件吗？', 
                    content: '修改端口请重启!',
                    useBootstrap:true,
                    buttons: { 
                    "取消":function(){},
                    "确定": function () { 
                        $.post("/configSave",{json:jsonString},function(d){
                            if(d.f){
                                configButtonFun()
                                $.notify(d.m,"success");
                            }else{
                                $.notify(d.m,"error");
                            }
                        },"json");
                } } });
            });

            $("#configButton").click(configButtonFun = function(){
                editor.expandAll();
                $("#configDiv").toggle();
                $("#configSave").toggle();
            });
            $("#evnSelect").change(function(){
                var env = $(this).val();
                $.post("/change",{"env":env},function(d){
                    if(d.f){
                        $.notify(d.m,"success");
                    }else{
                        $.notify(d.m,"error");
                    }
                },"json");
            });
        });
    </script>
</head>
<body>
<div class="alert alert-success" role="alert" style="width: 100%; margin: 0px auto;">
    <div>
        当前环境 <select class="custom-select" style="max-width: 200px;" id="evnSelect">
          <%for(env in envList) {%>
          <option value="<%= env %>" <% if(env == currentEnv) { %> selected <% } %> ><%= env %></option>
          <%}%>
        </select>
        <button type="button" class="btn btn-success float-right" id="configSave" title="save config" style="display: none;margin: 0px 10px;">save</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-info float-right" id="configButton" title="show or hide">config</button>
    </div>
    
</div>
<div style="display: none;margin: 10px auto;" id="configDiv"></div>
<div id="app" class="table-responsive">
    <table class="table table-striped .table-responsive">
      <thead>
        <tr>
          <th scope="col">host</th>
          <th scope="col">ip</th>
          <th scope="col">time</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in proxyList">
          <th scope="row" >{{ item.host }}</th>      
          <td>{{ item.ip }}</td>
          <td style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{ item.time }}</td>
        </tr>
      </tbody>
    </table>
</div>
 
<script>
function getProxyList(_this){
    $.get("/proxyList"+'?_='+ new Date().getTime(),function(d){
        if(d.f){
            _this.proxyList = d.d;
        }else{
            $.notify(d.m,"error");
        }
    },"json");
}
var vm = new Vue({
  el: '#app',
  data: {
    proxyList:[]
  },
  methods: {
    init:function(){
        _this = this;
        getProxyList(_this);
        setInterval(function(){
            getProxyList(_this);
        },3000);
    }
  }
});
vm.init();
</script>
</body>
</html>